<?xml version="1.0"?>
<config>
    <modules>
        <RedFeet_Location>
            <version>0.1.0</version>
        </RedFeet_Location>
    </modules>
    <frontend>
		<routers>
			<location>
			<use>standard</use>
				<args>
					<module>RedFeet_Location</module>
					<frontName>location</frontName>
				</args>
			</location>
		</routers>
    </frontend>
	
    <global>
		<resources>
			<location_setup>
				<setup>
					<module>RedFeet_Location</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</location_setup>
			<location_write>
				<connection>
					<use>core_write</use>
				</connection>
			</location_write>
			<location_read>
				<connection>
					<use>core_read</use>
				</connection>
			</location_read>
		</resources>
		
		<blocks>
            <location>
                <class>RedFeet_Location_Block</class>
            </location>
        </blocks>
		
		<models>
			<location>
				<class>RedFeet_location_Model</class>
				<resourceModel>location_mysql4</resourceModel>
			</location>
			<location_mysql4>
				<class>RedFeet_Location_Model_Mysql4</class>
				<entities>
					<city>
						<table>directory_region_city</table>
					</city>
				</entities>
			</location_mysql4>
		</models>	
		
		<helpers>
			<location>
				<class>RedFeet_Location_Helper</class>
			</location>
			<directory>
				<rewrite>
					<data>RedFeet_Location_Helper_Data</data>
				</rewrite>
			</directory>
		</helpers>		
    </global>
</config>
